body{
    width: 100%;
}

.display-responsive{
    display: block;
}

@media all and (max-width: 768px){
    .display-responsive{
        display: none;
    }
}

@media all and (min-width: 680px) and (min-height: 680px){
    .carousel-background-top-gun, .carousel-background-harry-potter, .carousel-background-doctor, .carousel-background-baywatch, .carousel-background-fast-furious{
        height: 100vh!important;
    }
}

@media all and (max-width: 680px), (max-height: 680px){
    .carousel-background-top-gun, .carousel-background-harry-potter, .carousel-background-doctor, .carousel-background-baywatch, .carousel-background-fast-furious{
        height: 680px!important;
    }
}

h1{
    font-size: 7.5rem;
}


p{
    margin-left: 8px;
}
.alinhamento{
    position: relative;
    bottom: 1px;
}
.alinhamento-icon{
    position: relative;
    top: 0.7px;
}
/*----- NavBar -----*/

.nav-link{
    color: white;
}

.navbar{
    transition: background-color 500ms ease-out;
}

.navbar-brand{
    color: white!important;
}

.fancy-link{
     position: relative;
    color: white!important;
 }


.fancy-link::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: white;
      width: 100%;
      height: 0.2rem;
      border-radius: 1rem;

      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
  }



.fancy-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-nav .nav-link{
    padding-right: 0!important;
    padding-left: 0!important;
}

/* div */
.search-box {
   /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    background: rgba(255, 193, 7, 1);
    border-radius: 50px;
    padding: 10px;
}

/* input */
.search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: left;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;
}
.search-input::placeholder {
    color: black;
}
/* icon */
.search-btn {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
}
.search-input:focus,
.search-input:not(:placeholder-shown) {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
    background: #fff;
    color: #cd595a;
}

/*----- Carousel -----*/

.carousel-padding{
    padding: 0;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 8%;
    right: 0;
    bottom: 0;
    height: 100%;

    display: flex;
    align-items: center;
}

.carousel-indicators{
     position: relative;
    top: 1rem;
 }

.carousel-controls{
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 10;
    transform: translateX(-50%);
}

.carousel-control-next,
.carousel-control-prev{
    height: 3rem;
    width: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 3;
    top: 30%;
    transform: translateY(-50%);

}

.carousel-control-next{
    right: -8rem;
}

.carousel-control-prev{
    left: -8rem;
}



/*----- Background Images -----*/
.carousel-background-baywatch{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30)), url("Imagens/baywatch.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
}

.carousel-background-doctor{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30)), url("Imagens/Doctor-Strange-2016-Wallpapers.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
}

.carousel-background-fast-furious{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Imagens/0112-Velocidade-Furiosa-8-Dest.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
}

.carousel-background-harry-potter{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Imagens/harry-potter.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
}

.carousel-background-top-gun{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Imagens/top-fun.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
}

/*----- Media Queries -----*/

@media (max-width: 300px){
    .carousel-control-next{
        width: 1rem;
        height: 1rem;
        right: -5rem;
    }

    .carousel-control-prev{
        left: -5rem;
    }


    .carousel-indicators{
        display: none;
    }

    .carousel-caption button{

    }

    .fs-5{
        font-size: 0.3rem!important;
    }

}

@media (max-width: 450px){
    .width-small{
        width: 100%!important;
        padding: 0 0;
    }
}

@media (max-width: 556px){
    h1{
        font-size: 3rem!important;
    }

    .fs-5{
        font-size: 0.5rem!important;
    }
}

@media (max-width: 776px){
    .carousel-caption{
        top: 15%;
    }

    .carousel-caption h1{
        font-size: 4rem;
    }

    .carousel-control-next,
    .carousel-control-prev{
        width: 3rem;
        height: 3rem;
    }



    .carousel-indicators{
        display: none;
    }

    .fs-5{
        font-size: 0.75rem!important;
    }
}

@media (max-width: 990px){
    h1{
        font-size: 6rem;
    }

    .fs-5{
        font-size: 1rem!important;
    }
}


/*----- Página Informações ------*/

.text-v-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.background-image{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Imagens/Cinema-iStock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.main{
    margin-top: 100px;
}

.margin-col-informações{
    margin: 0 5rem;
}


.mx-6{
    margin: 0 12rem;
}

.border-radius{
    border-radius: 0 50px 0 0;
}

.margin-top-form{
    margin-top: 10rem;
}

.card .fs-6{
    font-size: 0.85rem!important;
}

.height-info .h-100{
    height: 15rem!important;
}

.bg-cards{
    background-color: #262626;
}

.center-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fundo-nav{
    background-color: black;
    color: white!important;
    transition: background-color 500ms ease-in;
}

.fundo-nav .nav-link, .fundo-nav .navbar-brand{
    color: white!important;

}


/*----- Bilhete -----*/

.margin-trocar{
    position: relative;
    top: 100px;
}

@media (max-width: 450px){
    .form-choices{
        display: block!important;
    }
}

@media (max-width: 776px){
    .text-center-form{
        text-align: center;
    }
}

/*----- Filme -----*/

.backgroud-image-filme{
    background-image: url("Imagens/baywatch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/*----- Erro -----*/

.alinhamento-erro{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heading-error{
    font-size: 8rem;
}

.paragrafo-error{
    font-size: 1.5rem;
    font-weight: 200;
}

